In [106]:
import numpy as np
import pandas as pd
import dateutil

In [107]:
def dateparse(x):
    return pd.datetime.strptime(x, '%Y-%m')

data = pd.read_csv('input/drug_purchases.csv', parse_dates=['purchase_date'])

# Convert date from string to date times
data[['purchase_month']] = data['purchase_date'].apply(lambda x: pd.Series(x.strftime("%Y-%m")))
data[['purchase_year']] = data['purchase_date'].apply(lambda x: pd.Series(x.strftime("%Y")))

# display(data.dtypes);
data.head()

,id,log_id,layout_id,staging_record_id,created_by,created_at,modified_by,modified_at,deleted,address,...,unit_price,drug_name,drug_class,state,drug_indication,person_code,pharmacy,zip,purchase_month,purchase_year
0,410,46,87,595,SYSTEM,2018-10-08 21:30:06,SYSTEM,2018-10-08 21:30:06,False,5208 98TH ST,...,0.1327,PANTOPRAZOLE TAB 40MG,ULCER DRUGS,TX,Ulcer,17546398,CVS PHARMACY,79424,2016-01,2016
1,2387,46,87,2612,SYSTEM,2018-10-08 21:30:27,SYSTEM,2018-10-08 21:30:27,False,251 N BROADWAY,...,0.2450,PREDNISONE TAB 10MG,CORTICOSTEROIDS,NJ,Inflammation,17427509,SAVON PHARMACY,8070,2016-01,2016
2,2411,46,87,2587,SYSTEM,2018-10-08 21:30:28,SYSTEM,2018-10-08 21:30:28,False,2040 ROUTE 130,...,0.2734,ATORVASTATIN TAB 10MG,ANTIHYPERLIPIDEMICS,NJ,High Cholesterol,17112961,EXPRESS SCRIPTS,80169716,2016-01,2016
3,2436,46,87,2565,SYSTEM,2018-10-08 21:30:28,SYSTEM,2018-10-08 21:30:28,False,5230 DALLAS HWY,...,304.5100,TUDORZA PRES AER 400/ACT,ANTIASTHMATIC AND BRONCHODILATOR AGENTS,GA,Asthma,17427513,WALGREENS #6325,30127,2016-01,2016
4,2461,46,87,2540,SYSTEM,2018-10-08 21:30:28,SYSTEM,2018-10-08 21:30:28,False,1704 W HILLSBOROUGH,...,0.1813,PANTOPRAZOLE TAB 40MG,ULCER DRUGS,FL,Ulcer,17106797,WALGREENS #6611,33603,2016-01,2016

In [98]:
# How many rows the dataset
data['id'].count()

184250

In [99]:
# What was the highest unit_price?
data['unit_price'].max()

32032.06

In [31]:
# How many entries are there for each month?
data['drug_indication'].value_counts();

In [104]:
data['drug_class'].value_counts();

In [33]:
data['person_code'].value_counts();

In [34]:
data['pharmacy'].value_counts();

In [35]:
data['state'].value_counts();

In [36]:
data.groupby(['person_code', 'pharmacy'])['id'].count();

In [37]:
data.groupby(['state', 'pharmacy'])['purchase_date'].count();

In [46]:
data['purchase_date'].value_counts();

In [48]:
data['purchase_month'].value_counts();

In [70]:
data.groupby(['drug_class', 'purchase_month'])['id'].count();

In [76]:
data.groupby(['state', 'purchase_month'])['id'].count();

In [86]:
grouped = data.groupby(['state', 'purchase_month'])['id'].count().reset_index(name='count').sort_values(['state','count'], ascending=[True, False]).groupby('state').head(5)
grouped;

In [85]:
data.groupby(['person_code', 'purchase_month'])['id'] \
    .count() \
    .reset_index(name='count') \
    .sort_values(['person_code','count', 'purchase_month'], ascending=[True, False, False]) \
    .groupby('person_code').head(5);

In [84]:
data.groupby(['state', 'purchase_month'])['id'] \
    .count() \
    .reset_index(name='count') \
    .sort_values(['state','count', 'purchase_month'], ascending=[True, False, False]) \
    .groupby('state').head(5)

     state purchase_month  count
9       AL        2016-10     63
11      AL        2016-12     57
2       AL        2016-03     55
20      AL        2017-09     53
0       AL        2016-01     47
48      AR        2018-03    167
53      AR        2018-08    166
47      AR        2018-02    157
52      AR        2018-07    150
50      AR        2018-05    147
62      AZ        2016-08    194
64      AZ        2016-10    192
65      AZ        2016-11    188
57      AZ        2016-03    184
69      AZ        2017-03    183
118     CA        2018-07    185
117     CA        2018-06    178
116     CA        2018-05    177
119     CA        2018-08    172
114     CA        2018-03    169
148     CO        2018-08     11
146     CO        2018-06      8
147     CO        2018-07      6
145     CO        2018-05      6
143     CO        2018-03      6
153     CT        2016-04    122
166     CT        2017-05    117
154     CT        2016-05    116
164     CT        2017-03    110
155     CT        2016-06    109
...    ...            ...    ...
1214    VA        2016-03    149
1216    VA        2016-05    140
1240    VA        2018-05    139
1241    VA        2018-06    132
1238    VA        2018-03    132
1250    VT        2016-06      7
1253    VT        2016-09      6
1252    VT        2016-08      6
1248    VT        2016-04      5
1270    VT        2018-08      4
1296    WA        2018-01     29
1298    WA        2018-03     27
1290    WA        2017-07     27
1294    WA        2017-11     26
1279    WA        2016-08     26
1335    WI        2018-07    135
1327    WI        2017-11    124
1316    WI        2016-12    122
1307    WI        2016-03    117
1334    WI        2018-06    116
1340    WV        2016-03    167
1343    WV        2016-06    165
1342    WV        2016-05    154
1361    WV        2017-12    153
1344    WV        2016-07    152
1371    WY        2016-01     33
1373    WY        2016-03     26
1377    WY        2016-07     22
1376    WY        2016-06     20
1379    WY        2016-09     18

[245 rows x 3 columns]